:root {
  --accent-color: #2196f3;
  --general-black-color: #212121;
  --general-white-color: #fff;
  --team-section-bgc: #f5f4fa;
  --secondary-bgc: #2f303a;
  --icon-general-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-button, .checkbox-label, .checkbox, .clients-link, .primary-list__link, .benefits-icon, .close-btn, .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  color: #757575;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

textarea {
  resize: none;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .current {
    position: relative;
    color: var(--accent-color);
  }
  .current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    left: 0;
    top: 103%;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .current {
    top: 6%;
  }
}
.mobile-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--general-white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 1;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--general-black-color);
}

.mobile-menu__link.current {
  position: relative;
  color: var(--accent-color);
}

.mobile-menu__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__contact-list {
  margin-bottom: 64px;
}

.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu-social__list {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.mobile-menu-social__item {
  margin-right: 20px;
}
.mobile-menu-social__item:last-child {
  margin-left: 0px;
}
.mobile-menu-social__item::after {
  content: "";
  position: relative;
  bottom: 12px;
  right: 20px;
  display: block;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.mobile-menu-social__item:first-child::after {
  content: "";
  width: 0;
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--general-black-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.primary-list {
  display: flex;
  justify-content: center;
}

.nav__logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.0769230769;
  letter-spacing: 0.03em;
}

.nav__logo-link__blue {
  color: var(--accent-color);
}

.nav__logo-link__black {
  color: var(--general-black-color);
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  width: 154px;
  height: 28px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo-studio {
  color: var(--general-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 50px, 30px;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.general-modal {
  position: absolute;
  max-width: 450px;
  width: 100%;
  height: 609px;
  padding: 40px;
  background-color: var(--general-white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--general-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--general-black-color);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .general-modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .general-modal {
    max-width: 100%;
    width: 528px;
    height: 581px;
  }

  .modal-title {
    line-height: 1.15;
  }
}
.page-header__menu {
  display: none;
}

.page-header-menu-contacts__container {
  display: none;
}

.page-header {
  padding: 16px 0;
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .page-header__menu {
    display: none;
  }

  .menu-auth {
    display: none;
  }

  .page-header {
    padding: 10px 0;
  }

  .mobile-burger-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .page-header__container {
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .mobile-burger-button {
    display: none;
  }

  .page-header-menu-contacts__container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    list-style: none;
    margin-left: auto;
  }

  .page-header {
    position: relative;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #eee;
  }

  .page-header-menu-contacts__icon-mail {
    fill: currentColor;
  }

  .page-header-menu-contacts__icon-tel {
    fill: currentColor;
  }

  .page-header__link.current {
    color: var(--accent-color);
  }

  .page-header__link {
    padding: 32px 0;
    color: black;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__link:hover, .page-header__link:focus {
    color: var(--accent-color);
  }

  .page-header__menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
  }

  .page-header__menu .page-header__item {
    margin-right: 50px;
  }

  .page-header__menu .page-header__item:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 1199px) {
  .page-header-menu-contacts__icon-mail {
    fill: currentColor;
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }

  .page-header__menu {
    margin-left: 88px;
  }

  .page-header-menu-contacts__icon-tel {
    fill: currentColor;
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header-menu-contacts__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .page-header__link {
    padding: 24px 0;
  }

  .page-header-menu-contacts__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  .page-header-menu-contacts__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }

  .page-header-menu-contacts__item {
    margin-right: 30px;
  }

  .page-header-menu-contacts__item:last-child {
    margin-right: 0;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-header__menu {
    margin-left: 93px;
  }

  .page-header__menu .page-header__item {
    margin-right: 50px;
  }

  .page-header__menu .page-header__item:last-child {
    margin: 0;
  }

  .page-header-menu-contacts__icon-mail:hover, .page-header-menu-contacts__icon-mail:focus {
    fill: var(--accent-color);
  }

  .page-header-menu-contacts__icon-tel:hover, .page-header-menu-contacts__icon-tel:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .page-header-menu-contacts__item {
    margin-bottom: 10px;
  }

  .page-header-menu-contacts__item:last-child {
    margin-bottom: 0;
  }

  .page-header-menu-contacts__link {
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-tel {
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav__section {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav__section {
    display: flex;
    align-items: center;
  }

  .page-header-menu-contacts__item {
    margin-bottom: 0;
  }

  .menu-auth .page-header-menu-contacts__item + .page-header-menu-contacts__item {
    margin-left: 50px;
  }

  .page-header-menu-contacts__link {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header-menu-contacts__link:hover, .page-header-menu-contacts__link:focus {
    color: var(--accent-color);
  }

  .nav-tel {
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-tel:hover, .nav-tel:focus {
    color: var(--accent-color);
  }
}
.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--secondary-bgc);
}
@media screen and (max-width: 767.98px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-mobile.jpg");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-desktop.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-desktop@2x.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--general-white-color);
  margin-bottom: 30px;
}

.hero__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--general-white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:focus, .hero__btn:hover {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.primary-list {
  display: flex;
}

.benefits-icon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border: none;
}

.benefits-title-icon {
  height: 70px;
  width: 70px;
}

.benefits-title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--general-black-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.list-item {
  margin-bottom: 30px;
}

.list-item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .primary-list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }

  .benefits-icon {
    width: 354px;
  }

  .primary-list {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    width: calc((100% - 30px) / 2);
  }
  .list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .list-item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .primary-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--general-black-color);
  }
  .primary-list .benefits-title {
    color: var(--general-black-color);
  }

  .primary-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .benefits-icon {
    max-width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border: none;
  }

  .benefits-title-icon {
    height: 70px;
    width: 70px;
  }

  .list-item {
    width: calc((100% - 90px) / 4);
  }
  .list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .about-section {
    display: none;
  }

  .about-image-item {
    display: none;
  }

  .about-image-suptext {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about-section {
    display: block;
    padding-top: 0;
  }

  .primary-list-item {
    max-width: 370px;
    height: 294px;
    margin-left: 30px;
  }

  .primary-list-item:first-child {
    margin-left: 0;
  }

  .about-image-item {
    display: block;
    position: relative;
  }

  .about-image-suptext {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--general-white-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
.team-section {
  background-color: var(--team-section-bgc);
}

.team__thumb {
  max-width: 500px;
  height: 162px;
  background-color: var(--general-white-color);
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  color: var(--general-black-color);
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team__item {
  max-width: 500px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-bottom: 0;
}

.primary-list {
  flex-direction: row;
}
.primary-list__item:not(:last-child) {
  margin-right: 10px;
}
.primary-list__link {
  width: 44px;
  height: 44px;
}
.primary-list__icon {
  fill: var(--icon-general-color);
}

@media screen and (min-width: 768px) {
  .team__thumb {
    width: 354px;
  }
  .team__item {
    width: calc((100% - 30px) / 2);
    max-width: 354px;
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .team__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__thumb {
    width: 270px;
    height: 168px;
    padding-bottom: 30px;
  }
  .team__item {
    max-width: 270px;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .team__item:first-child {
    margin-left: 0;
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }

  .primary-list__item:not(:last-child) {
    margin-right: 10px;
  }
  .primary-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--general-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .primary-list__link:hover, .primary-list__link:focus {
    background-color: var(--accent-color);
  }
  .primary-list__icon {
    fill: var(--icon-general-color);
  }
  .primary-list__link .primary-list__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .primary-list__link:hover .primary-list__icon, .primary-list__link:focus .primary-list__icon {
    fill: var(--general-white-color);
  }
}
.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list-item {
  width: 210px;
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: var(--icon-general-color);
  border-radius: 4px;
  fill: var(--icon-general-color);
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: 226px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }

  .clients-list-item {
    width: 170px;
    height: 92px;
  }

  .clients-link {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:hover, .clients-link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgc);
}

.map-link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--general-white-color);
}

.footer-mail {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-item {
  margin-bottom: 9px;
}
.footer-contact-item:last-child {
  margin-bottom: 0;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--general-white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-link-icon {
  fill: var(--general-white-color);
}

.footer-social-list-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--general-white-color);
}

.footer-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-mail {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--general-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-bgc);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-mail:focus {
  outline: none;
  border-color: var(--accent-color);
}
.subscribe-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--general-white-color);
}

.footer-icon-wrapper {
  position: relative;
}

.footer-btn-icon {
  fill: var(--general-white-color);
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.container-flex {
  text-align: center;
}

.left-side {
  margin-bottom: 60px;
}

.right-side {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  .subscribe-mail {
    width: 450px;
  }

  .left-side {
    margin-bottom: 0px;
  }

  .right-side {
    margin-bottom: 0px;
  }

  .footer-subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-top: 0;
  }

  .subscribe-mail {
    width: 358px;
    margin-bottom: 0;
  }

  .footer-mail {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-mail:hover, .footer-mail:focus {
    color: var(--accent-color);
  }

  .footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-tel:hover, .footer-tel:focus {
    color: var(--accent-color);
  }

  .map-link {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--general-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .map-link:hover, .map-link:focus {
    color: var(--accent-color);
  }

  .footer-contact-item {
    margin-bottom: 9px;
  }
  .footer-contact-item:last-child {
    margin-bottom: 0;
  }

  .footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bgc);
  }

  .container-flex {
    display: flex;
    align-items: baseline;
  }

  .left-side {
    flex-grow: 1;
    margin-right: 70px;
    text-align: left;
  }

  .right-side {
    margin-right: 93px;
    text-align: left;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
  }

  .footer-social-link-icon {
    fill: var(--general-white-color);
  }

  .footer-social-list-icon:not(:last-child) {
    margin-right: 10px;
  }

  .footer-social-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-link-item:hover, .footer-social-link-item:focus {
    background-color: var(--accent-color);
  }

  .footer-social-link-item:hover .social-link-icon,
.footer-social-link-item:hover .social-link-icon {
    fill: var(--general-white-color);
  }

  .footer-title {
    font-size: 14px;
    line-height: 1.14;
    color: var(--general-white-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .footer-form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .subscribe-title {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--general-white-color);
  }

  .subscribe-mail {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    color: var(--general-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--secondary-bgc);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-mail:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .subscribe-mail::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    color: var(--general-white-color);
  }

  .footer-icon-wrapper {
    position: relative;
  }

  .footer-btn-icon {
    fill: var(--general-white-color);
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
}
.form-field {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.icon-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  flex-wrap: wrap;
}
.checkbox-label::before {
  content: "";
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--general-black-color);
  border-radius: 3px;
  cursor: pointer;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icons/1.png);
  border-color: var(--accent-color);
}

.checkbox-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.submit-button {
  width: 200px;
  height: 50px;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--general-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
    flex-wrap: nowrap;
  }
}
.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--general-black-color);
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--general-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item {
  margin-left: 8px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filter__item:first-child {
    margin-left: 0;
  }

  .filter__item:nth-child(4) {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }

  .filter__item:first-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.our-works {
  display: flex;
  flex-direction: column;
}
.our-works__item {
  position: relative;
  margin-bottom: 30px;
}
.our-works__item:last-child {
  margin-bottom: 0;
}
.our-works__link {
  position: relative;
  display: inline-block;
}
.our-works__overlay {
  position: relative;
  overflow: hidden;
}
.our-works__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--general-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}
.our-works__content {
  padding: 20px 24px;
  background-color: var(--general-white-color);
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.our-works__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.our-works .our-works__title {
  color: var(--general-black-color);
}
.our-works__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .our-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our-works__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .our-works__content {
    padding: 20px 18px;
    flex-grow: 1;
  }
  .our-works__item {
    max-width: 354px;
    height: 404px;
  }
  .our-works__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .our-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .our-works__item {
    position: relative;
    max-width: 370px;
    margin-bottom: 0;
  }
  .our-works__item:nth-child(odd) {
    margin-right: 0;
  }
  .our-works__item:nth-child(-n+6) {
    margin-bottom: 30px;
  }
  .our-works__text {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-works__link:hover .our-works__text, .our-works__link:focus .our-works__text {
    transform: translateY(0);
  }
  .our-works__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-works__link:hover, .our-works__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}/*# sourceMappingURL=main.css.map */