.footer-mail {
  display: inline-block;
  
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.map-link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--general-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contact-item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgc);
}

.container-flex {
  display: flex;

  align-items: baseline;
}
.left-side {
  flex-grow: 1;
  margin-right: 70px;
}
.right-side {
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-link-icon {
  fill: var(--general-white-color);
}
.footer-social-list-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link-item {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-link-item:hover .social-link-icon,
.footer-social-link-item:hover .social-link-icon {
  fill: var(--general-white-color);
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--general-white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-field {
  display: flex;
  flex-direction: row;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--general-white-color);
}

.subscribe-mail {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--general-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-bgc);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
}



.subscribe-button {
  @extend %align;
  width: 200px;
  height: 50px;
  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--general-white-color);
}
.footer-icon-wrapper {
  position: relative;
}
.footer-btn-icon {
  fill: var(--general-white-color);
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
