@media screen and (min-width: 768px) {
  .page-header-menu-contacts__item {
    margin-bottom: 10px;
  }
  .page-header-menu-contacts__item:last-child {
    margin-bottom: 0;
  }
  .page-header-menu-contacts__link {
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-tel {
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav__section {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav__section {
    display: flex;
    align-items: center;
  }
  .page-header-menu-contacts__item {
    margin-bottom: 0;
  }

  .menu-auth
    .page-header-menu-contacts__item
    + .page-header-menu-contacts__item {
    margin-left: 50px;
  }

  .page-header-menu-contacts__link {
    display: flex;
    align-items: center;
    color: #757575;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .nav-tel {
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
