:root {
    --accent-color: #2196f3;
    --general-black-color: #212121;
    --general-white-color: #fff;
    --team-section-bgc: #f5f4fa;
    --secondary-bgc: #2f303a;
    --icon-general-color: #afb1b8;
  }